body {
    margin: 10% 0 0 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #F51720, #fa6226);
}

.button {
    text-decoration: none;
    color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.cnt1 {
  display: flex;
  justify-content: center;
} 

.cnt3 {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 60%;
}

.button {
  --c:  #229091;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  height: 75px;
  width: 150px;
  font-family: system-ui, sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: .1em .6em;
  margin: 20px;
  font-weight: bold;  
}

.button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

input {
    background: radial-gradient(#d32e18 15px, #F8D210);
    border-radius: 5px;
    border-width: 1px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

input:active {
    background: radial-gradient(#a52312 15px, #c4a50d);
}

html {
    height: 100%;
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

header {
    height: 10%;
    color: #15d45e;
    background: #F8D210;
    width: 100%;
    padding: 10px;
    font-size: 140%;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
    color: #FA26A0;
}

header svg {
    padding: 10px 0 10px 10px;
}

header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0 50% 10px 0;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 1em;
    color: black;
    transition: opacity .2s ease-in-out;
}

nav a:hover,
nav a:focus {
    opacity: 1;
}

@media (min-width: 500px) {
    header {
      text-align: left;
    }
    nav {
      float: right;
    }
    article {
      margin: 3.5em auto 0;
      padding: 2em;
    }
}